PARCIAL1/UNIDAD3/.idea/misc.xml
PARCIAL1/UNIDAD3/.idea/modules.xml
PARCIAL1/UNIDAD3/.idea/UNIDAD3.iml
PARCIAL1/UNIDAD3/.idea/vcs.xml
PARCIAL3/UNIDAD4/260512CLASE/.idea/260512CLASE.iml
PARCIAL3/UNIDAD4/260512CLASE/.idea/misc.xml
PARCIAL3/UNIDAD4/260512CLASE/.idea/modules.xml
PARCIAL3/UNIDAD4/260512CLASE/.idea/vcs.xml
