body { 
    background-color: #a193e0; 
}

h1{
    color:brown
}

*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p{
    border: 2px solid blue
}
.titulo{
    color: green
}

#principal{
    margin: 10px
}