body {
     background-color: #4bcc52;
     text-align: center;
     }     
     
     
h1 {
    background-color: rgb(60, 73, 192);
    text-align: center;
    }

h2{
    background-color: rgb(35, 34, 39);
    text-align: center;
  }

h3{
    background-color: blueviolet;
    text-align: center;
}

p{
    font-family: 'Comic Sans', Tahoma, Geneva, Verdana, sans-serif;

}

p { 
    font-size: 18px; line-height: 2.7; 
}

img {
    width: 200px;

}

table{
    border: 1px solid #333; 
    padding: 8px;
    text-align: center;
}