p{
    color:brown
}

.p1{
    color:blueviolet
}

#parrafo{
    font-family: Arial, Helvetica, sans-serif;
}

div h2{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1, h2, h3{
    color:blue
}

a:hover {
    color: black;
}

button:active{
    background-color: bisque;
}

li:first-child{
    color:brown
}

li:nth-child(2){
    color:aqua
}

input:focus {
    background-color: rgb(74, 192, 127);
}

#D1{
    border: 2px solid blue
}

p{
    border:3px solid red
}

#parrafo2{
    border: 2px 2px 2px 2px
}

.divBlock {
    display: block;
    background-color: #001aff;
}

.divInline {
    display: inline;
    background-color: aquamarine;
}